apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: dev

replicas:
  - name: demo-backend
    count: 2

images:
  - name: demo-backend
    newTag: dev-latest

configMapGenerator:
  - name: demo-backend-config
    behavior: merge
    literals:
      - LOG_LEVEL=debug
      - ENABLE_DEBUG=true
