.history/
.vscode/
k8s/.env
Docker/Projects/**/.ssh
hosts.txt
Setting_Database.txt
certs/
.env
.mypy_cache/
__pycache__
node_modules/

# Antigravity Rules
.agent/rules/**/*
!.agent/rules/.gitkeep
# Antigravity Skills
.agent/skills/*
!.agent/skills/.gitkeep
# Antigravity Workflows
.agent/workflows/*
!.agent/workflows/.gitkeep

# opencode Skills
.opencode/skill/
!.opencode/skill/.gitkeep
