extends: default

ignore: |
  .history/
  .git/
  .vscode/
  **/node_modules/
  **/venv/
  **/.env
  Archive/
  Example/

rules:
  line-length:
    max: 1000
    level: warning
  indentation:
    spaces: 2
    indent-sequences: true
    level: error
  trailing-spaces:
    level: error
  truthy:
    level: warning
  document-start:
    level: warning
    present: false
  new-line-at-end-of-file:
    level: error
  comments-indentation:
    level: warning
  key-duplicates:
    level: error
  empty-lines:
    max: 4
    level: error
  quoted-strings:
    quote-type: any
    required: false
    level: warning
