apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - ../../base

images:
  - name: buenhyden/service-2
    newTag: v1.0.0 # 초기 태그 (이후 Image Updater가 관리)
