apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 66.7.1 # 2025-11-10 기준 LTS 가정
    releaseName: kube-prometheus-stack
    namespace: observability
    valuesFile: values.yaml
