apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cert-manager

resources:
  - namespace.yaml
  - cluster-issuer.yaml

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.19.2 # 2025-11-10 기준 LTS 가정
    releaseName: cert-manager
    namespace: cert-manager
    valuesFile: values.yaml
