apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
namePrefix: prod-
commonLabels:
  environment: prod
replicas:
  - name: APP_NAME
    count: 5
images:
  - name: REGISTRY/IMAGE_NAME
    newTag: v1.0.0
