deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem # Kind 환경 안정성을 위해 로컬 파일시스템 사용 (MinIO 연결 복잡성 회피)
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    storageClass: standard
    size: 20Gi

# 수집된 로그를 시각화할 Grafana 연결 설정 (Datasource 자동 등록)
sidecar:
  datasources:
    enabled: true
    label: "grafana_datasource"
