apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
namePrefix: dev-
commonLabels:
  environment: dev
replicas:
  - name: APP_NAME
    count: 2
images:
  - name: REGISTRY/IMAGE_NAME
    newTag: dev-latest
