apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: istio-system

helmCharts:
  - name: gateway
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.24.0
    releaseName: istio-ingressgateway
    namespace: istio-system
    valuesFile: values.yaml
