pilot:
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 2048Mi

meshConfig:
  accessLogFile: /dev/stdout # Envoy 프록시 로그를 표준 출력으로 내보냄 (Loki 수집용)
  enablePrometheusMerge: true
  outboundTrafficPolicy:
    mode: REGISTRY_ONLY # 보안: 명시적으로 등록된 서비스로만 통신 허용 (ExternalName 등 필요)
  defaultConfig:
    proxyMetadata:
      # Istio가 메트릭을 수집할 때 필요한 메타데이터
      ISTIO_META_DNS_CAPTURE: "true"
      ISTIO_META_DNS_AUTO_ALLOCATE: "true"
